node_modules/

**/*.txt
**/*.xml
**/*.utf
**/*.zip
**/*.gz
**/*.mp3
**/*.svg

results/extra-kanji/**/*.json
results/kana-words/**/*.json
results/kanjiJLPT/**/*.json
results/vocabJLPT/**/*.json

!results/kanjiJLPT/kanji/*.json
!results/vocabJLPT/ids/*.json
!results/vocabJLPT/json/readings_with_audio.json

package-lock.json
.env